
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @if (User.Identity.IsAuthenticated)

    {
        @Html.ActionLink("Log out", "LogOff", "Account")
    }
        <div>
            Hey, it worked!!!
            You're logged in as @User.Identity.Name
        </div>
    </body>
</html>
